<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>This page doesn't exists</h1>
  </body>
  <!-- Footer -->
  <%- include('./partials/footer.ejs') %>
</html>
