@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

#header-title {
  font-family: "Anton", sans-serif !important;
  text-transform: uppercase;
}
