@import url("https://fonts.googleapis.com/css2?family=Anton&family=Baskervville&display=swap");

body {
  font-family: "Baskervville", serif !important;
}

h1 {
  font-family: "Anton", sans-serif !important;
  text-transform: uppercase;
}

p,
button {
  font-size: 1.2rem;
}
